@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CFT ESTATAL ARICA Y PARINACOTA</h1>
    <p><h2>Bienvenido al calculo de notas del CFT!</h2></p>
    <img src="~/css/logo_fix.jpg" height="200" width="300" />
    <p> <a href="http://localhost:5185/Asignaturas" class="btn btn-outline-success">Asignatura</a>.</p>
    <p> <a href="http://localhost:5185/Estudiantes" class="btn btn-outline-success">Estudiante</a></></p>
</div>
